body {
    background-color: hsl(235, 18%, 26%);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    max-width: 1440px;
    height: 1000px;
}

.secc01-art01 {
    display: flex;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    margin: 100px auto;
    background-color: white;
    width: 740px;
    height: 497px;
}

.div-principal01 {
    padding: 50px 0px;
    width: 55%;
}

.div-principal02 {
    margin-right: 10px;
    width: 41%;
}

.secc01-div02 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
}

.secc01-div03 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.secc01-div04 {
    margin-left: 25px;
}

.secc01-div05 {
    margin-left: 25px;
    height: 140px;
}

.secc01-div05 ul {
    list-style: none;
    margin-left: -10px;
}

.secc01-div06 {
    margin-left: 20px;
}

.busqueda {
    padding: 15px 130px 15px 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.boton {
    padding: 15px 60px 15px 55px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: hsl(234, 29%, 20%);
    border: 1px solid hsl(234, 29%, 20%);
}

.letra-blanca {
    color: white;
}

.letra-grande{
    font-size: 3em;
}

.letra-mediana {
    font-size: .9em;
}

.letra-pequenia {
    font-size: 0.7em;
    margin-left: 8px;
}

.letra-morada {
 color: hsl(234, 29%, 20%);
}

.nito {
    font-weight: bold;
}

.icon {
    position: relative;
    left: -30px;
    top: -20px;
}